

/* Testimonial Section */
.col {
  margin-top: 40px;
  font-family: 'Times New Roman';
  font-size:large;
  
}

#testimonials {
    background-color: #aed5f5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;

    
  }
  
  .testimonial-text {
    font-family: cursive;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-left: 20px;
  }
  
  /* #press {
    background-color: #7eca6c;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
   */